USE [master]
GO
/****** Object:  Database [AuditLogs]    Script Date: 8/9/2020 5:11:46 PM ******/
CREATE DATABASE [AuditLogs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AuditLogs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER2017\MSSQL\DATA\AuditLogs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AuditLogs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER2017\MSSQL\DATA\AuditLogs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AuditLogs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AuditLogs]
GO
USE [AuditLogs]
GO
/****** Object:  Table [dbo].[AuditActions]    Script Date: 5/8/2022 1:53:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditActions](
	[Id] [int] NOT NULL,
	[NameFl] [nvarchar](max) NULL,
	[NameSl] [nvarchar](max) NULL,
 CONSTRAINT [PK_AuditActions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AuditActions] ([Id], [NameFl], [NameSl]) VALUES (1, N'Add', N'إضافة')
GO
INSERT [dbo].[AuditActions] ([Id], [NameFl], [NameSl]) VALUES (2, N'Update', N'تعديل')
GO
INSERT [dbo].[AuditActions] ([Id], [NameFl], [NameSl]) VALUES (3, N'Delete', N'مسح')
GO

/****** Object:  Table [dbo].[Audits]    Script Date: 5/8/2022 1:54:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActionID] [int] NULL,
	[EventType] [nvarchar](max) NULL,
	[UserNameDomain] [nvarchar](max) NULL,
	[StartDate] [datetime] NULL,
	[MachineName] [nvarchar](max) NULL,
	[UserId] [nvarchar](max) NULL,
	[ChangedBy] [nvarchar](max) NULL,
	[EmployeeIds] [nvarchar](max) NULL,
	[OldTarget] [nvarchar](max) NULL,
	[NewTarget] [nvarchar](max) NULL,
	[FieldIds] [nvarchar](max) NULL,
	[OrganizationId] [nvarchar](max) NULL,
 CONSTRAINT [PK_Audits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Audits]  WITH CHECK ADD  CONSTRAINT [FK_Audits_AuditActions] FOREIGN KEY([ActionID])
REFERENCES [dbo].[AuditActions] ([Id])
GO
ALTER TABLE [dbo].[Audits] CHECK CONSTRAINT [FK_Audits_AuditActions]
GO
USE [master]
GO